/* Set the font family for all elements */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Reset the margin of the body element */
body {
    margin: 0;
}

/* Style for sections */
section {
    display: flex; 
    justify-content: center; /* main-axis */
    align-items: center;  /* cross-axis */
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1280px;
}

/* Set the color of visited links to inherit the color from their parent elements */
a:visited {
    color: inherit;
}

/* define the variables */
$navbar-bg-color: white;
$navbar-hover-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

/* define the navbar style */
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  margin-top: 40px;
  z-index: 9999;
  background-color: transparent;
  transition: background-color 0.3s ease;

  ul {
    margin-left: 200px;
    list-style-type: none;
  }

  li {
    display: inline;
    margin-right: 50px;
  }

  a {
    font-weight: 600;
    color: #333;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    background-color: $navbar-bg-color;
    box-shadow: $navbar-hover-shadow;
  }
}


.img-gallary{
    position: relative;
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input{
    margin-top: 30px;
    margin-left: 10px;
    margin-right:10px;
}
