/* Lines */
.line-blue{
    margin-top: 5px;
    margin-bottom: 0px;
    color: rgb(43, 224, 191);
    font-size: 28px;
}

.foot-line {
    margin-top: 50px;
    margin-bottom: 0px;
    width: 100vw; 
    height: 1px;
    background-color: rgb(43, 224, 191);

}